body{
	
	background-color: #BCB6D6;
	color:#373057;
}
li{
	color:blue;
	
}
#matriculas{
	background-color: #7A85DD;
	color:#32375C;
	
	
	
}
#topo{
	background-color: #373057;
	color: #BCB6D6;
	
}
